body{color:#C2B62A; background:#f1f2e6; font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
background: #f1f2e6 url(eye.png) no-repeat center 20px }

a, a:link, a:visited, a:active {color:#E3A039; padding:2px 2px;}
a:hover, a:focus {color:#333; background:#EEEAE0;}

#content{width:400px; margin:100px auto 0; background:#fff; padding:10px;}
h1{
	color:#6F6818;
  font-weight: normal;
  font-family: georgia, serif; 
	font-size:60px;
	margin:0; padding:0 0 0 30px;

}
#logo{text-align:center;}
p{margin:10px 0 10px 30px;}
#sitename{font-size:12px;color:#666;text-align:right; margin:0 10px; }
#footermsg{color:#aaa; font-size:10px; text-align:center; border-top: 1px dashed #ccc;  padding:10px 0 0 0;  margin:10px 0;}

hr{border: 0px; border-top: 1px solid #C3A226; height:0px;}
small{color:#aaa; font-size:11px; line-height:15px;}
code{color:#997447; background:#EEEAE0; padding:2px 5px;}